.beverage {
    border: 1px solid #eee;
    margin: 15px 0;
    padding: 15px;
}

.beverage-count {
    margin: 0 0 15px;
}

.field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    display: inline-block;
    width: 80px;
}

.checkbox-label {
    margin-bottom: 5px;
    display: inline-block;
}

.checkbox-field {
    margin: 5px 0;
    display: block;
}

.add-button {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 27, 255, 0.82);
    font-size: 14px;
    text-decoration: underline dashed;
    cursor: pointer;
}

.submit-button {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid orange;
    border-radius: 5px;
}
#order-submitted {
    width: 500px;
    height: 10%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    border: 1px solid black;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

th, td {
    border: 1.5px solid grey;
 }
