.beverage {
    position: relative;
    border: 1px solid #eee;
    margin: 15px 0;
    padding: 15px;
    /* width: 200px; */
}

.beverage-count {
    margin: 0 0 15px;
}

.field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    display: inline-block;
    width: 80px;
}

.checkbox-label {
    margin-bottom: 5px;
    display: inline-block;
}

.checkbox-field {
    margin: 5px 0;
    display: block;
}

.close-field {
    position: absolute;
    top:20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background-image: url('./img/Слой 1 копия.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.add-button {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 27, 255, 0.82);
    font-size: 14px;
    text-decoration: underline dashed;
    cursor: pointer;
}

.submit-button {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid orange;
    border-radius: 5px;
}

