.beverage {
    border: 1px solid #eee;
    margin: 15px 0;
    padding: 15px;
}

.beverage-count {
    margin: 0 0 15px;
}

.field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    display: inline-block;
    width: 80px;
}

.checkbox-label {
    margin-bottom: 5px;
    display: inline-block;
}

.checkbox-field {
    margin: 5px 0;
    display: block;
}

.add-button {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 27, 255, 0.82);
    font-size: 14px;
    text-decoration: underline dashed;
    cursor: pointer;
}

.submit-button {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid orange;
    border-radius: 5px;
}

.delete-beverage-div{
    text-align: right;
}

.delete-beverage-button{
    color:red;
    background-color: transparent;
}

.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;

}


.modal-window{
    position: relative;
    width: 500px;
    flex-flow: row wrap;
    background-color: rgba(28, 26, 26, 0.3);
}



.big-modal{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	align-items: center;
	height: 100%;
}


.hidden{
    visibility: hidden;
}



.close-overlay{
    position:absolute;
    top: 0px;
    right: 0px;
    color: red;
}


.hide {
    display: none;
}