body{
    background-color: grey;
}

.beverage {
    background-color: rgb(180, 180, 180);
    position: relative;
    border: 1px solid #eee;
    margin: 15px 0;
    padding: 15px;
}

table th,td{
    border: 1px solid;
}

.beverage-count {
    margin: 0 0 15px;
}

.field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    display: inline-block;
    width: 80px;
}

.checkbox-label {
    margin-bottom: 5px;
    display: inline-block;
}

.checkbox-field {
    margin: 5px 0;
    display: block;
}

.close-field {
    position: absolute;
    top:20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background-image: url('unknown.png');
    background-color: rgba(206, 206, 206, 0);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.add-button {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 27, 255, 0.82);
    font-size: 14px;
    text-decoration: underline dashed;
    cursor: pointer;
}

.submit-button {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid orange;
    border-radius: 5px;
}

.modal-window {
    display: none;
    position: fixed;
    width: 500px;
    height: auto;
    background-color: rgba(206, 206, 206, 1);
    text-align: center;
    left: calc(50% - 250px);
    top: 50%;
    border: 1px solid rgb(107, 106, 106);
}

.close-modal-window{
    position: relative;
    left: 220px;
    top: -30px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgba(206, 206, 206, 0);
    background-image: url('unknown.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.overlay{
    display: none;
    position:fixed;
    left:0;
    top: 0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
}