.beverage {
    position: relative;
    border: 1px solid #eee;
    margin: 15px 0;
    padding: 15px;
}

.beverage-number {
    margin: 0 0 15px;
}

.field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    display: inline-block;
    width: 80px;
}

.checkbox-label {
    margin-bottom: 5px;
    display: inline-block;
}

.checkbox-field {
    margin: 5px 0;
    display: block;
}

.add-button {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 27, 255, 0.82);
    font-size: 14px;
    text-decoration: underline dashed;
    cursor: pointer;
}

.submit-button {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid orange;
    border-radius: 5px;
    margin-top: 30px;
}

.modal-wrapper {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    position: relative;
    width: 500px;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    padding: 10px;
}

.remove-button,
.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    background-color: red;
}

.beverages-table {
    margin: 10px auto;
    border-collapse: collapse;
}

.beverages-table th,
.beverages-table td {
    border: 1px solid black;
    padding: 5px;
}